<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Ride.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>45</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
				<key>dateExpires</key>
				<string>19/10/2023</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>4.8.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CommonDataModelsKit_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.82</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.13</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>6.5.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>7.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SocketIO.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>16.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Starscream.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyRSA.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TapAdditionsKitV2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TapCardScanner_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.24</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TapCardVlidatorKit_iOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TapKeychain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TapSwiftFixesV2.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>TextFieldFormatter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>0.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>3773BC73BCEE7213760906F07F1D6B7DB94DE854</string>
						<key>dateExpires</key>
						<string>19/10/2023</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>42HCM9W87S.com.Ride.RideCompany.RideServiceExtention</string>
						<key>com.apple.developer.team-identifier</key>
						<string>42HCM9W87S</string>
						<key>get-task-allow</key>
						<true/>
					</dict>
					<key>name</key>
					<string>RideServiceExtention.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>ddbc54fd-dc96-43a3-8226-5074a950cf9e</string>
						<key>dateExpires</key>
						<string>05/01/2024</string>
						<key>name</key>
						<string>iOS Team Provisioning Profile: *</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>42HCM9W87S</string>
						<key>name</key>
						<string>Ride Hailing Innovative Technologies Company</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>42HCM9W87S.com.Ride.RideCompany</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.in-app-payments</key>
				<array>
					<string>merchant.com.Ride.RideCompany</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>42HCM9W87S</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Ride.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>96752f7c-a1fe-4c1f-8ab4-baeefeaa68ac</string>
				<key>dateExpires</key>
				<string>09/01/2024</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.Ride.RideCompany</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>42HCM9W87S</string>
				<key>name</key>
				<string>Ride Hailing Innovative Technologies Company</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1</string>
		</dict>
	</array>
</dict>
</plist>
